@tailwind base;
@tailwind components;
@tailwind utilities;

.work-bg {
  background: hsl(15, 100%, 70%) url(../public/images/icon-work.svg) no-repeat
    right 18px top -11px;
}
.play-bg {
  background: hsl(195, 74%, 62%) url(../public/images/icon-play.svg) no-repeat
    right 18px top -5px;
}
.study-bg {
  background: hsl(348, 100%, 68%) url(../public/images/icon-study.svg) no-repeat
    right 18px top -6px;
}
.exercise-bg {
  background: hsl(145, 58%, 55%) url(../public/images/icon-exercise.svg)
    no-repeat right 18px top -1px;
}
.social-bg {
  background: hsl(264, 64%, 52%) url(../public/images/icon-social.svg) no-repeat
    right 18px top -16px;
}
.self-care-bg {
  background: hsl(43, 84%, 65%) url(../public/images/icon-self-care.svg)
    no-repeat right 18px top -12px;
}

.fadeIn {
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
